<div class="mat-toolbar mat-primary">
  <div class="mat-toolbar-layout">
    <div class="mat-toolbar-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <a _ngcontent-c1="" class="logo ng-tns-c1-0" fxhide="true" fxhide.gt-sm="false" href="/" style="display: block;">
        <img _ngcontent-c1="" class="ng-tns-c1-0" src="../assets/images/logo.png">
      </a>
    </div>
  </div>
</div>
<div>
  <div flex-offset-lg="30" flex="40" flex-offset-sm="20" flex-sm="50" flex-offset-md="30" flex-md="33" flex-xs="100">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate style="padding: 10px 20px 20px 20px;">
      <div class="form-img">
        <img src="../assets/images/login-logo.png" width="187" height="50" class="md-card-image" alt="Point Centric"><br>
        <small>Sign in via your current account</small><br><md-divider></md-divider><br>
      </div>
      <div style="color:red">{{errorMsg}}</div><br />
      <div class="" >
        <mat-form-field style="width:100%">
          <input matInput placeholder="User Name" [(ngModel)]="username" name="username" [formControl]="loginForm.controls['username']" required>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required') ">
            This is required
          </mat-error>
        </mat-form-field><br>
        <mat-form-field style="width:100%">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" [formControl]="loginForm.controls['password']" required>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required') ">
            This is required
          </mat-error>
        </mat-form-field><br><br><br>
        <button mat-raised-button type="submit" color="primary" style="width:100%; padding:5px 0;">Sign In</button>
      </div>
    </form>
  </div>
</div>
