   <router-outlet></router-outlet>
<!--<mat-sidenav-container class="mat-drawer-container mat-sidenav-container mat-drawer-transition">
  <div class="mat-toolbar mat-primary">
    <div class="mat-toolbar-layout">
      <div class="mat-toolbar-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
        
        <button _ngcontent-c1="" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
          <span class="mat-button-wrapper">
            <mat-icon _ngcontent-c1="" class="mat-icon ng-tns-c1-0 material-icons" role="img" aria-hidden="true">menu</mat-icon>
          </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
        </button>
        <a _ngcontent-c1="" class="logo ng-tns-c1-0" fxhide="true" fxhide.gt-sm="false" href="/" style="display: block;">
          <img _ngcontent-c1="" class="ng-tns-c1-0" src="../assets/images/logo.png">
        </a>
        <span _ngcontent-c1="" fxflex="" class="ng-tns-c1-0" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
        <div class="rightside-header">

          <button _ngcontent-c1="" aria-haspopup="true" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
            <span class="mat-button-wrapper">
              <div _nghost-c9="" class="">
                <div class="td-notification-content">

                  <mat-icon _ngcontent-c28="" class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true" [matMenuTriggerFor]="cart">shopping_cart</mat-icon>
                  <mat-menu #cart="matMenu">
                    <span mat-menu-item>Item 1</span>
                    <span mat-menu-item>Item 2</span>
                  </mat-menu>
                </div>
                <div _ngcontent-c9="" class="td-notification-count td-notification-after">
                  99+
                </div>
              </div>
            </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>
          <button _ngcontent-c1="" aria-haspopup="true" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
            <span class="mat-button-wrapper">
              <div _nghost-c9="" class="">
                <div class="td-notification-content">

                  <mat-icon _ngcontent-c28="" class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true" [matMenuTriggerFor]="notification">notifications</mat-icon>
                  <mat-menu #notification="matMenu">
                    <span mat-menu-item>Notification 1</span>
                    <span mat-menu-item>Notification 1</span>
                  </mat-menu>
                </div>
                <div _ngcontent-c9="" class="td-notification-count td-notification-after">
                  10
                </div>
              </div>
            </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>
          <button _ngcontent-c1="" aria-haspopup="true" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
            <span class="mat-button-wrapper">
              <div _nghost-c9="" class="">
                <div class="td-notification-content">

                  <mat-icon class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true">help</mat-icon>
                  
                </div>
                
              </div>
            </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>

          <button _ngcontent-c1="" aria-haspopup="true" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
            <span class="mat-button-wrapper">
              <div _nghost-c9="" class="">
                <div class="td-notification-content">

                  <img src="assets/images/user-icon.png" width="30" [matMenuTriggerFor]="user" />
                  <mat-menu #user="matMenu">
                    <div class="mat-menu-content ng-trigger ng-trigger-fadeInItems" style="opacity: 1; padding:20px; width:235px;">
                      <mat-list class="mat-list ng-tns-c1-0" role="list">
                        <mat-list-item class="mat-list-item ng-tns-c1-0 mat-list-item-avatar mat-2-line" role="listitem">
                          <div class="mat-list-item-content">
                            <img src="assets/images/user-icon.png" width="30">&nbsp;&nbsp;Myriad$$<br />
                          </div>
                        </mat-list-item>
                        <hr />
                      </mat-list><br />

                      <mat-nav-list _ngcontent-c1="" class="mat-nav-list ng-tns-c1-0" role="list">
                        <a class="mat-list-item ng-tns-c1-0" mat-list-item="" role="listitem">
                          <div class="mat-list-item-content" style="color:#ccc;">
                            <mat-icon class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true" style="color:#ccc;">person</mat-icon>&nbsp;&nbsp;Profile & Settings
                          </div>
                        </a><br /><hr /><br />
                        <a class="mat-list-item ng-tns-c1-0" mat-list-item="" role="listitem">
                          <div class="mat-list-item-content">
                            <mat-icon class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true">exit_to_app</mat-icon>&nbsp;&nbsp;Sign Out
                          </div>
                        </a>
                      </mat-nav-list>
                    </div>
                  </mat-menu>
                </div>

              </div>
            </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>

        </div>


      </div>
    </div>
  </div>

  <div class="mat-second-header container-fluid" style="">
    <div id="custom-search-input">
      <div class="input-group col-md-3 col-sm-3 col-xs-12">
        <input type="text" class="  search-query form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <i class="material-icons">search</i>
          </button>
        </span>
      </div>
    </div>
    <span _ngcontent-c1="" fxflex="" class="ng-tns-c1-0" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-sm-2  col-xs-4">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-sm-2  col-xs-4">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-1 col-sm-1  col-xs-4" style="margin-top:15px;">
      <button class="butt" ><i class="material-icons">list</i></button>
    </div>
    <div class="col-md-1 col-sm-1  col-xs-4" style="margin-top:15px;">
      <button class="butt"><i class="material-icons">view_module</i></button>
    </div>
    <div class="col-md-1 col-sm-1  col-xs-4" style="margin-top:15px;">
      <button class="butt"><i class="material-icons">more_vert</i></button>
    </div>
  </div>

  <div class="container-fluid">
    <mat-sidenav class="col-lg-2 col-sm-3 col-md-3 col-xs-12 left-sidenav mat-drawer mat-sidenav mat-drawer-side left-nav" tabindex="-1">
      Left Menu
    </mat-sidenav>

    <mat-sidenav-content cdkscrollable="" class="col-lg-9 col-sm-8 col-md-8 right-body-cont mat-drawer-content mat-sidenav-content">
      <mat-tab-group>
        <mat-tab label="Tab 1">Content 1</mat-tab>
        <mat-tab label="Tab 2">Content 2</mat-tab>
      </mat-tab-group>
      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_orange"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-sm-6 col-lg-4 col-md-6" style="background-color:#fff; padding:10px;">
        <mat-card class="example-card">

          <img mat-card-image src="assets/images/sofa1.png" class="img-responsive">
          <mat-card-title><h4>NATUZZI</h4></mat-card-title>
          <mat-card-content>

            <span>Category: SOFA</span><br /><br />

            <span>Model Id: 2490492</span><br /><br />

            <span>Cover name: Lilac & Black</span><br /><br />

            <span>Main: F393883</span><br /><br />

            <span>Stock ID: F393883DC</span><br /><br />
            <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
            <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
            <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
            <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
          </mat-card-content>

        </mat-card>
      </div>

    </mat-sidenav-content>
  </div>

</mat-sidenav-container>-->
    <!--<mat-sidenav-container class="example-container" autosize *ngIf="showFiller">
    <mat-sidenav #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p >Lorem, ipsum dolor sit amet consectetur.</p>
      <button  mat-raised-button>
        Toggle extra text
      </button>
    </mat-sidenav>



  </mat-sidenav-container>-->
    <!--<table style="width: 100%" cellspacing="0">
    <tr>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%" floatPlaceholder="never">
          <input matInput placeholder="First name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </td>
    </tr>
  </table>-->
    <!--<div class="mat-toolbar mat-primary">
    <div class="mat-toolbar-layout"><div class="mat-toolbar-row" style="flex-direction: row; box-sizing: border-box; display: flex;">

    <a _ngcontent-c1="" class="logo ng-tns-c1-0" fxhide="true" fxhide.gt-sm="false" href="/" style="display: block;">
      <img _ngcontent-c1="" class="ng-tns-c1-0" src="../assets/images/logo.png">
    </a>
  </div>
    </div>
  </div>
  <div >
    <div class="form-card">

      <form>
        <div class="form-img">
          <img src="../assets/images/login-logo.png" width="187" height="50" class="md-card-image" alt="Point Centric"><br>
        <small>Sign in via your current account</small><br><md-divider></md-divider><br>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="User Name" [formControl]="username" required>
            <mat-error *ngIf="username.hasError('required')">
              You must enter a value for User  Name
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [formControl]="password" required>
            <mat-error *ngIf="password.hasError('required')">
              You must enter a value for Password
            </mat-error>
          </mat-form-field>


            <button mat-raised-button color="primary">SignIn</button>

        </div>

      </form>
    </div>
    </div>-->
