<mat-tool-bar>
  <mat-content class="mat-toolbar mat-primary">
    <div class="mat-toolbar-layout">
      <div class="mat-toolbar-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
        <button class="mat-icon-button" mat-icon-button="">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon ng-tns-c1-0 material-icons" role="img" aria-hidden="true" (click)="sidenav.toggle()">menu</mat-icon>
          </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
        </button>
        <a class="logo" fxhide="true" fxhide.gt-sm="false" href="/" style="display: block;">
          <img src="../assets/images/logo.png">
        </a>
        <span fxflex="" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
        <div class="rightside-header">

          <button aria-haspopup="true" class="mat-icon-button" mat-icon-button="">
            <div class="mat-button-wrapper">  
                  <mat-icon class="icon-color mat-icon material-icons" role="img" aria-hidden="true" [matMenuTriggerFor]="cart">shopping_cart</mat-icon>
                  <mat-menu #cart="matMenu">
                    <span mat-menu-item>Item 1</span>
                    <span mat-menu-item>Item 2</span>
                  </mat-menu>                
                <div class="td-notification-count td-notification-after">
                  99+
                </div>
            </div>
            <!--<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>-->
          </button>
          <button aria-haspopup="true" class="mat-icon-button">
            <div class="mat-button-wrapper"> 
                  <mat-icon class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true" [matMenuTriggerFor]="notification">notifications</mat-icon>
                  <mat-menu #notification="matMenu">
                    <span mat-menu-item>Notification 1</span>
                    <span mat-menu-item>Notification 1</span>
                  </mat-menu>                
                <div class="td-notification-count td-notification-after">
                  10
                </div>
            </div>
            <!--<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>-->
          </button>
          <button aria-haspopup="true" class="mat-icon-button">
            <div class="mat-button-wrapper">
                  <mat-icon class="icon-color mat-icon ng-tns-c28-91 material-icons" role="img" aria-hidden="true">help</mat-icon>
            </div>
            <!--<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>-->
          </button>

          <button aria-haspopup="true" class="mat-icon-button ng-tns-c1-0" mat-icon-button="">
            <div class="mat-button-wrapper">
                  <img src="assets/images/user-icon.png" width="30" [matMenuTriggerFor]="user" />
                  <mat-menu #user="matMenu">
                    <div class="mat-menu-content ng-trigger ng-trigger-fadeInItems" style="opacity: 1; width:235px;">
                      <mat-list class="mat-list" role="list">
                        <mat-list-item class="mat-list-item mat-list-item-avatar mat-2-line" role="listitem">
                          <div class="mat-list-item-content">
                            <img src="assets/images/user-icon.png" width="30">&nbsp;&nbsp;{{username}}
                          </div>
                        </mat-list-item>
                        <hr />
                      </mat-list>
                      <mat-nav-list class="mat-nav-list" role="list">
                        <mat-list-item class="mat-list-item" mat-list-item="" role="listitem" style="cursor:auto;">
                          <div class="mat-list-item-content" style="color:#ccc;">
                            <mat-icon class="icon-color mat-icon material-icons" role="img" aria-hidden="true" style="color:#ccc;">person</mat-icon>&nbsp;&nbsp;Profile & Settings
                          </div>
                        </mat-list-item><hr />
                        <mat-list-item class="mat-list-item" mat-list-item="" role="listitem">
                          <div class="mat-list-item-content">
                            <mat-icon class="icon-color mat-icon material-icons" role="img" aria-hidden="true">exit_to_app</mat-icon><a href="index.html">&nbsp;&nbsp;Sign Out</a>
                          </div>
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                  </mat-menu>
            </div>

            <!--<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>-->
          </button>

        </div>


      </div>
    </div>
  </mat-content>
  </mat-tool-bar>
  <mat-tool-bar>
    <mat-content class="mat-second-header" layout="row">
      <div id="custom-search-input"  flex="20" flex-sm="20" flex-md="20" flex-xs="100">
        <div class="input-group">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <i class="material-icons">search</i>
            </button>
          </span>
        </div>
      </div>
      <span _ngcontent-c1="" fxflex="" class="ng-tns-c1-0" style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
      <div flex="20" flex-sm="20" flex-md="20" flex-xs="100">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div flex="20" flex-sm="20" flex-md="20" flex-xs="100">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div flex="20" flex-sm="20" flex-md="20" flex-xs="100">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div flex="10" flex-sm="10" flex-md="10" flex-xs="33" style="margin-top:15px;">
        <button class="butt"><i class="material-icons">list</i></button>
      </div>
      <div flex="10" flex-sm="10" flex-md="10" flex-xs="33" style="margin-top:15px;">
        <button class="butt"><i class="material-icons">view_module</i></button>
      </div>
      <div flex="10" flex-sm="10" flex-md="10" flex-xs="33" style="margin-top:15px;">
        <button class="butt"><i class="material-icons">more_vert</i></button>
      </div>
    </mat-content>
  </mat-tool-bar>
  <mat-sidenav-container layout="row" flex="100" flex-sm="100" flex-md="100" flex-xs="100">

    <mat-sidenav opened="true" #sidenav mode="side">
      <nav class="ng-star-inserted" style="">
        <ul style="list-style-type:none; padding-left:0px;">
          <!---->
          <li class="ng-star-inserted">
            <a >
              <mat-icon>home</mat-icon>&nbsp;&nbsp; Dashboard<!--<i class="material-icons" style="float:right;">keyboard_arrow_right</i>-->
            </a>
          </li>
          <li class="ng-star-inserted">
            <a [routerLink]="['/advertising']" class="">
              <mat-icon class="material-icons">shopping_cart</mat-icon>&nbsp;&nbsp; Sales
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="" class="">
              <mat-icon class="material-icons">label</mat-icon>&nbsp;&nbsp; Inventory
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="" class="">
              <mat-icon class="material-icons">layers</mat-icon>&nbsp;&nbsp; Merchandising
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="" class="">
              <mat-icon class="material-icons">inbox</mat-icon>&nbsp;&nbsp; A/R
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="">
              <mat-icon class="material-icons">exposure</mat-icon>&nbsp;&nbsp; Accounting
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="" class="">
              <mat-icon class="material-icons">exposure</mat-icon>&nbsp;&nbsp; Reports
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" (click)="showFiller = !showFiller" style="cursor:pointer">
              <mat-icon class="material-icons">settings</mat-icon>&nbsp;&nbsp; Configuration
            </a>
          </li>
          <ul style="list-style-type:none;" *ngIf="showFiller">
            <li class="ng-star-inserted">
              <a routerlinkactive=""  style="cursor:pointer">
                <span (click)="showFiller1 = !showFiller1">Codes</span>
              </a>
            </li>
          </ul>
          <ul style="list-style-type:none; padding-left:50px;" *ngIf="showFiller1">
            <li class="ng-star-inserted">
              <a routerlinkactive="" class="" [routerLink]="['/app/configuration/codes/advertising']">
                <span>Advertising</span>
              </a>
            </li>
            <li class="ng-star-inserted">
              <a routerlinkactive="" class="" [routerLink]="['/app/configuration/codes/arfinance']">
                <span>A/R Finance</span>
              </a>
            </li>
          </ul>
          <li class="ng-star-inserted">
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" >
              <mat-icon class="material-icons">build</mat-icon>&nbsp;&nbsp; System
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content >
      <mat-tab-group style="background-color:#f2f2f2; padding-left:20px; border-top: 1px solid #ccc;">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <button class="butt"><i class="material-icons">view_module</i></button>
          </ng-template>
          <div class="demo-tab-content" style="margin-top:20px;">
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card" style="">

                <img mat-card-image src="assets/images/sofa1.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_orange"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa2.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa4.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa5.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa3.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa6.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <button class="butt"><i class="material-icons">list</i></button>
          </ng-template>
          <div class="demo-tab-content">
            <table class="table" style="margin-top:50px;">
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa</td>
                <td><span>Model ID</span> : 2490492</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" class="col-sm-1" style="background-color:#cfd8dc; border-left:2px solid #536e7b;  padding-top:3%"><i class="material-icons">brush</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
            </table>
           
          </div>
        </mat-tab>
      </mat-tab-group>
      <!--<p><button mat-button (click)="sidenav.open()">Open</button></p>-->

    </mat-sidenav-content>
  </mat-sidenav-container>
