<mat-tab-group style="background-color:#f2f2f2; padding-left:20px; border-top: 1px solid #ccc;">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <button class="butt"><i class="material-icons">view_module</i></button>
          </ng-template>
          <div class="demo-tab-content" style="margin-top:20px;">
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card" style="">

                <img mat-card-image src="assets/images/sofa1.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_orange"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa2.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>
            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa4.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa5.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa3.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>

              </mat-card>
            </div>

            <div flex="30" flex-sm="50" flex-md="33" flex-xs="100" class="home-mat-cards">
              <mat-card class="example-card">

                <img mat-card-image src="assets/images/sofa6.png" class="img-responsive"><br>
                <mat-card-title>NATUZZI</mat-card-title><br><br>
                <mat-card-content>
                  <span class="color1">Category:</span> <span class="color2">SOFA</span><br /><br />
                  <span class="color1"> Model Id:</span> <span class="color2">2490492</span><br /><br />
                  <span class="color1">Cover name:</span> <span class="color2"> Lilac & Black</span><br /><br />
                  <span class="color1">Main:</span> <span class="color2"> F393883</span><br /><br />
                  <span class="color1">Stock ID: F393883DC</span><br /><br />
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div><br />
                  <button class="box_but_blue"><i class="material-icons">brush</i>&nbsp;&nbsp; Customize</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <button class="butt"><i class="material-icons">list</i></button>
          </ng-template>
          <div class="demo-tab-content">
            <table class="table" style="margin-top:50px;">
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa</td>
                <td><span>Model ID</span> : 2490492</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center" class="col-sm-1" style="background-color:#cfd8dc; border-left:2px solid #536e7b;  padding-top:3%"><i class="material-icons">brush</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
              <tr>
                <td><strong>NATUZZI</strong><br><br><span>Category</span> : Sofa<br><br>Stock Id : F393883</td>
                <td><span>Model ID</span> : 2490492<br><br><span>Main</span> : F393883</td>
                <td><span>Cover Name</span> : Grey Moon<br><br><span>Main</span> : F393883</td>
                <td>Retail : <span>$1,699.00</span><br><br><i class="material-icons">money_off</i></td>
                <td align="center">
                  <img src="assets/images/warehouse.png" width="20" class=""><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/showroom.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/purchase-orders.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-reserved.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                  <img src="assets/images/customer-backorder.png" width="20" class="left-margin"><div class="badge1 badge-info1">2</div>
                </td>
                <td>Qty :</td>
                <td align="center" style="background-color:#cfd8dc; border-left:2px solid #536e7b; padding-top:5%"><i class="material-icons">add_shopping_cart</i></td>
              </tr>
            </table>
           
          </div>
        </mat-tab>
      </mat-tab-group>
      